# An√°lise Exporat√≥ria de Dados (EDA)

O SENAC ele possui um departamento de jogos. Qual o problema: com a mudan√ßa das gera√ß√µes e perfil de jogadores, o time de jogos tem diversas d√∫vidas: que tipo de jogo √© mais comercial , qual plataforma esta sendo mais utilizadal, que tipo de jogo podemos lan√ßar (produto).



1.   Entrar no Kaggle
2.   Escolher um DataSet
3.   Importar o pandas (carregar o dataset no google colab)
4.   Usar fun√ß√µes (head(), tail(),Series (tupla,lista,dict)),shape
5.   Estat√≠stica Descritiva: describe(), mostrar uma coluna, fatiar,columns, info(),len()
6.   Outras (loc(), iloc(),isnull(),fillna(),isna(),pivot(),drop(),lambda,mean(),median(),mode()

# Fa√ßa um relat√≥rio com a defini√ß√£o das vari√°veis (estat√≠stico)

- Vari√°vel Quantitativa (cont√≠nua ou discreta)
- Vari√°vel Qualitativa (nominal ou ordinal)



# üéÆ An√°lise de Dados de Videogames (1980 - 2023) üïπÔ∏è

Este Colab Notebook √© dedicado √† explora√ß√£o de um conjunto de dados fascinante que abrange a hist√≥ria dos videogames!

---

### üåü O Conte√∫do do Conjunto de Dados

Este *dataset* cont√©m uma lista abrangente de videogames datados de **1980 a 2023**. Ele fornece informa√ß√µes valiosas para an√°lise detalhada:

* **üìÖ Datas de Lan√ßamento:** A linha do tempo da ind√∫stria.
* **‚≠ê Classifica√ß√£o de Avalia√ß√µes de Usu√°rios:** A nota m√©dia dada pela comunidade.
* **üèÜ Classifica√ß√£o de Avalia√ß√µes Cr√≠ticas:** A pontua√ß√£o atribu√≠da pela imprensa especializada.

> **Nota:** Voc√™ encontrar√° n√£o apenas os jogos populares e amplamente conhecidos, mas tamb√©m aqueles **obscuros jogos indie** que esquecemos com o tempo!

---

### üí° Inspira√ß√£o: Backloggd

A organiza√ß√£o e explora√ß√£o deste conjunto de dados reflete o esp√≠rito de plataformas como o **Backloggd**, que visa dar vida ao seu perfil de jogo.

#### O que √© o Backloggd?

O Backloggd √© um site de **cole√ß√£o de videogames** misturado com elementos sociais, que permite aos usu√°rios:

1.  **Registrar** os jogos que jogaram.
2.  **Classificar** e **revisar** seu progresso.
3.  **Detalhar** as jogatinas, incluindo plataformas, tempo jogado e at√© um **di√°rio** para acompanhar o progresso di√°rio.

> **A Flexibilidade:** Tudo √© adaptado ao quanto voc√™ deseja registrar, garantindo que o seu perfil se ajuste perfeitamente a voc√™.

#### Recursos Comunit√°rios

A plataforma tamb√©m permite que voc√™ crie **listas de jogos**, adicione outros usu√°rios como **amigos** e **siga** as suas atividades!

---

### üöÄ Come√ßando no Colab

Use o c√≥digo abaixo para carregar e come√ßar a explorar a vasta hist√≥ria dos jogos!

In [9]:
import pandas as pd

In [10]:
df = pd.read_csv('datasets/dataset_games.csv')

In [11]:
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

# An√°lise de Linhas e Colunas

In [12]:
df.shape

(16598, 11)



*   Nosso dataset tem 1512 linhas e 14 colunas

In [13]:
df.columns

Index(['Rank', 'Name', 'Platform', 'Year', 'Genre', 'Publisher', 'NA_Sales',
       'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales'],
      dtype='object')

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16598 non-null  int64
 1   Name          16598 non-null  object
 2   Platform      16598 non-null  object
 3   Year          16327 non-null  float64
 4   Genre         16598 non-null  object
 5   Publisher     16540 non-null  object
 6   NA_Sales      16598 non-null  float64
 7   EU_Sales      16598 non-null  float64
 8   JP_Sales      16598 non-null  float64
 9   Other_Sales   16598 non-null  float64
 10  Global_Sales  16598 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.4+ MB